body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(35, 39, 43);
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pasteContainer {
    width: 48%;
    border: 1px solid black;
    background-color: #434141;
    padding: 15px;
}
.viewContainer {
    width: 48%;
    border: 1px solid black;
    background-color: #434141;
    padding: 15px;
}
#uploadText {
    width: 100%;
    min-height: 200px;
    background-color: black;
    color: #fff;
}
pre {
    background: black;
    padding: 10px;
    border-radius: 4px;
    font-family: "Fira Code", monospace;
    max-height: 400px;
    overflow: auto;
}
input {
    background-color: black;
    border: 1px solid rgb(108, 107, 107);
    height: 25px;
    color: white;
}
button {
    height: 25px;
    background-color: rgb(49, 18, 188);
    color: white;
    border-radius: 4px;
    border: 1px solid #434141;
}